
.header{
    height:100vh;
    background:linear-gradient(to right, rgb(255, 255, 255, 0.9) , rgb(255, 255, 0, 0)), url(../images/bg-1.jpg);
    background-size: cover;
    background-position: center;
    
    
}

nav .navbar-brand{
    font-family:'Festive';
    font-size:2.7rem;
}

nav .navbar-nav li a{
    font-size: larger;
}

.relative{
    color:rgb(41, 41, 136);
    line-break: loose;
    margin-top:100px;
    margin-left:.8rem;
}

.relative h4{
    font-size:1.55rem !important;
}

.relative p{
    font-size:1rem !important;
    font-weight:470;
}

.btn-danger{
    background-color: orangered !important
}

.text-orangered{
    color: orangered;
}

.bg-orangered{
    background-color: orangered;;
}

.col_1_image{
    width:100%;
    box-shadow: 5px 1px 20px rgb(187, 166, 166);
}

.spacing h4{
    margin-top: 3rem;
}

.spacing p{
    margin-bottom: 1.5rem;
}

.image1{
    padding-left:3em;
    padding-top:5em;
}

.image2{
    padding-top: 0em;
    padding-left: 0.5em;
   
}

.image3{
    padding-left: 0em;
    padding-top: 0.5em;
   
}


.image4{
    padding-top:0.5em;
    padding-left:0.5em;
}

.carousel-here{
    display:none;
}

.back{
    background:url(../images/pexels-julie-gábor-1414651.jpg);
    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.6);
    height: 400px;
    background-size:cover;
    color:white;
}

.navbar-nav{
    font-weight: 500 !important;
}
.sign-upbutton{
    border-radius: 0px 0.25rem 0.25rem 0 !important;
}
/* media queries starts here */

/* for mobile */
@media (min-width:320px) and (max-width:424px){
    

    .relative{
        color:rgb(41, 41, 136);
    }

    .four-images-inLaptops{
        display:none !important;
    }

    .carousel-here{
        display:block;
    }
}

@media (min-width:425px) and (max-width:766px){


    .relative{
        color:rgb(41, 41, 136);
        margin-top:100px;
    }
    
    .relative h4{
        font-size:4rem !important;
    }
    
    .relative p{
        font-size:1rem !important;
    }
    
    .spacing h4{
        margin-bottom: 1.3rem;
        margin-top:0.3rem !important;
        font-size: 1.3rem;
    }
    
    .spacing p{
        line-height:1rem;
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }
    
    .four-images-inLaptops{
        display:none !important;
    }

    .carousel-here{
        display:block;
    }
    .navbar-nav{
        font-weight: 400 !important;
    }

}

@media (min-width:767px){
    .relative{
        margin-top:170px
    }
    .relative h4{
        font-size:3.5rem !important;
    }
    .relative p{
        font-size:1.5rem !important;
    }
    .navbar-nav{
        font-weight: 400 !important;
    }
}